@using QuanLyBanSach_Web.Models.Data;
@model Sach
@{
    ViewBag.Title = "ChiTietSach";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    #home{
        display:none;
    }
</style>
<div>
    <div id="ThongTin">
        <div class="HinhAnh col-sm-6">
            <img src="~/AnhBia/@Model.AnhBia">
        </div>
        <div class="ThongTinChiTiet col-sm-6">
            <h1>@Model.TenSach</h1>
            <h3>Chủ Đề : @Model.ChuDe.TenChuDe</h3>
            <h3>Nhà Xuất Bản : @Model.NhaXuatBan.TenNXB</h3>
            <div class="price-boxspl"> Giá Bán : @Model.GiaBan VNĐ</div>
            <br/>
            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSP = Model.MaSach, @strUrl = Request.Url.ToString() }))
            {
                <button class="btn btn-danger" title="Mua Hàng  &#xf07a" >
                    <span>Mua Hàng </span>
                </button>
            }
            
        </div>
    </div>
    <div>
            <div class="group-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">This is Home content</div>
                    <div role="tabpanel" class="tab-pane" id="profile">This is Profile content</div>
                    <div role="tabpanel" class="tab-pane" id="messages">This is Messages content</div>
                    <div role="tabpanel" class="tab-pane" id="settings">This is Settings content</div>
                </div>
            </div>
        </div>
</div>
    <style>
        #ThongTin{
            padding-left: 10%;
            padding-top : 5%;
            width : 100%;
           height: 700px;
        }
        .ThongTinChiTiet{
            width : 400px;
            height: 400px
        }
        .HinhAnh{
            width: 250px;
            height:450px;
        }
    </style>
