
@using QuanLyBanSach_Web.Models.Data;
@model  List<ChuDe>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}
<style>
    #home{
        display:none;
    }
</style>
    @foreach (var Item in Model)
    {
        <ul class="mnboxl">
            <li><a href="@Url.Action("SachTheoChuDe","ChuDe",new { @MaChuDe = Item.MaChuDe })">@Item.TenChuDe</a></li>
        </ul>
    }


