
@using QuanLyBanSach_Web.Models.Data;
@model  List<ChuDe>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}
@section NoiDungChuDe{
    @foreach (var Item in Model)
    {
        <ul class="mnboxl">
            <li><a href="">@Item.TenChuDe</a></li>
        </ul>
    }
}


