@using QuanLyBanSach_Web.Models.Data;
@model List<NhaXuatBan>


    @foreach (var Item in Model)
    {
        <ul class="mnboxl">
            <li><a href="@Url.Action("SachTheoNXB","NhaXuatBan",new { @MaNXB = Item.MaNXB })">@Item.TenNXB</a></li>
        </ul>
    }

    <li><a href="@Url.Action("DanhMucNXB")">Xem Thêm...</a></li>
    <div style="clear:both"></div>
